/*@media screen and (min-width: 1360px), (max-width: 2000px) {
    .grid-stack > .grid-stack-item {
        min-width: 8.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="1"] {
        width: 8.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="1"] {
        left: 8.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="1"] {
        min-width: 8.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="1"] {
        max-width: 8.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="2"] {
        width: 16.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="2"] {
        left: 16.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="2"] {
        min-width: 16.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="2"] {
        max-width: 16.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="3"] {
        width: 25%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="3"] {
        left: 25%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="3"] {
        min-width: 25%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="3"] {
        max-width: 25%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="4"] {
        width: 33.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="4"] {
        left: 33.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="4"] {
        min-width: 33.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="4"] {
        max-width: 33.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="5"] {
        width: 41.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="5"] {
        left: 41.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="5"] {
        min-width: 41.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="5"] {
        max-width: 41.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="6"] {
        width: 50%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="6"] {
        left: 50%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="6"] {
        min-width: 50%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="6"] {
        max-width: 50%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="7"] {
        width: 58.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="7"] {
        left: 58.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="7"] {
        min-width: 58.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="7"] {
        max-width: 58.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="8"] {
        width: 66.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="8"] {
        left: 66.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="8"] {
        min-width: 66.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="8"] {
        max-width: 66.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="9"] {
        width: 75%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="9"] {
        left: 75%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="9"] {
        min-width: 75%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="9"] {
        max-width: 75%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="10"] {
        width: 83.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="10"] {
        left: 83.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="10"] {
        min-width: 83.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="10"] {
        max-width: 83.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="11"] {
        width: 91.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="11"] {
        left: 91.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="11"] {
        min-width: 91.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="11"] {
        max-width: 91.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="12"] {
        width: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="12"] {
        left: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="12"] {
        min-width: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="12"] {
        max-width: 100%;
    }

}*/
/*
!*11 Column*!
@media screen and (min-width: 976px), (max-width: 1359px) {
    .grid-stack > .grid-stack-item {
        min-width: 9.0909090909%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="1"] {
        width: 9.0909090909%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="1"] {
        left: 9.0909090909%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="1"] {
        min-width: 9.0909090909%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="1"] {
        max-width: 9.0909090909%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="2"] {
        width: 18.1818181818%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="2"] {
        left: 18.1818181818%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="2"] {
        min-width: 18.1818181818%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="2"] {
        max-width: 18.1818181818%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="3"] {
        width: 27.2727272727%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="3"] {
        left: 27.2727272727%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="3"] {
        min-width: 27.2727272727%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="3"] {
        max-width: 27.2727272727%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="4"] {
        width: 36.3636363636%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="4"] {
        left: 36.3636363636%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="4"] {
        min-width: 36.3636363636%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="4"] {
        max-width: 36.3636363636%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="5"] {
        width: 45.4545454545%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="5"] {
        left: 45.4545454545%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="5"] {
        min-width: 45.4545454545%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="5"] {
        max-width: 45.4545454545%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="6"] {
        width: 54.5454545455%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="6"] {
        left: 54.5454545455%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="6"] {
        min-width: 54.5454545455%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="6"] {
        max-width: 54.5454545455%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="7"] {
        width: 63.6363636364%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="7"] {
        left: 63.6363636364%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="7"] {
        min-width: 63.6363636364%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="7"] {
        max-width: 63.6363636364%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="8"] {
        width: 72.7272727273%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="8"] {
        left: 72.7272727273%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="8"] {
        min-width: 72.7272727273%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="8"] {
        max-width: 72.7272727273%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="9"] {
        width: 81.8181818182%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="9"] {
        left: 81.8181818182%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="9"] {
        min-width: 81.8181818182%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="9"] {
        max-width: 81.8181818182%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="10"] {
        width: 90.9090909091%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="10"] {
        left: 90.9090909091%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="10"] {
        min-width: 90.9090909091%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="10"] {
        max-width: 90.9090909091%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="11"] {
        width: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="11"] {
        left: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="11"] {
        min-width: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="11"] {
        max-width: 100%;
    }
}
!*6 Column*!
@media screen and (min-width: 656px), (max-width: 975px) {
    .grid-stack > .grid-stack-item {
        min-width: 16.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="1"] {
        width: 16.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="1"] {
        left: 16.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="1"] {
        min-width: 16.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="1"] {
        max-width: 16.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="2"] {
        width: 33.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="2"] {
        left: 33.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="2"] {
        min-width: 33.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="2"] {
        max-width: 33.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="3"] {
        width: 50%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="3"] {
        left: 50%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="3"] {
        min-width: 50%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="3"] {
        max-width: 50%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="4"] {
        width: 66.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="4"] {
        left: 66.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="4"] {
        min-width: 66.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="4"] {
        max-width: 66.6666666667%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="5"] {
        width: 83.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="5"] {
        left: 83.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="5"] {
        min-width: 83.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="5"] {
        max-width: 83.3333333333%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="6"] {
        width: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="6"] {
        left: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="6"] {
        min-width: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="6"] {
        max-width: 100%;
    }
}
!*1 Column*!
@media screen and(max-width: 656px) {
    .grid-stack > .grid-stack-item {
        min-width: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-width="1"] {
        width: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-x="1"] {
        left: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-min-width="1"] {
        min-width: 100%;
    }
    .grid-stack > .grid-stack-item[data-gs-max-width="1"] {
        max-width: 100%;
    }
}
*/
@media screen and (min-width: 1360px) and (max-width: 2000px) {
    .grid-stack-item-content {
        background-color: #cd1616;
        border-radius: 8px;
    }
}
@media screen and (min-width: 976px) and (max-width: 1359px) {
    .grid-stack-item-content {
        background-color: #177e2e;
        border-radius: 12px;
    }
}

@media screen and (min-width: 656px) and  (max-width: 975px) {
    .grid-stack-item-content {
        background-color: #af0cc1;
        border-radius: 14px;
    }
}
