.grid-stack {
    background: #bbd0e6;
}

.grid-stack>.grid-stack-item>.ui-resizable-se, .grid-stack>.grid-stack-item>.ui-resizable-sw {
    background-size: contain !important;
    background-image: url("resize4.png") !important;
    transform: rotate(0deg) !important;
    width: 11px !important;
    height: 13px !important;
    bottom: 10px !important;
}

.grid-stack-item-content {
    color: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    horiz-align: right;
}
.grid-stack>.grid-stack-item>.grid-stack-item-content{
    overflow-y: hidden !important;
}
body {
    margin: 0;
    padding: 0;
}
.grid-stack>.grid-stack-item>.grid-stack-item-content::-webkit-scrollbar {
    display: none;
}
.grid-stack-item[data-gs-width="4"]  { width: 100% }
.grid-stack-item[data-gs-width="3"]  { width: 75% }
.grid-stack-item[data-gs-width="2"]  { width: 50% }
.grid-stack-item[data-gs-width="1"]  { width: 25% }

.grid-stack-item[data-gs-x="4"]  { left: 100% }
.grid-stack-item[data-gs-x="3"]  { left: 75% }
.grid-stack-item[data-gs-x="2"]  { left: 50% }
.grid-stack-item[data-gs-x="1"]  { left: 25% }
